.heroContent {
  padding: 0 30px 40px;

  .page-title {
    color: white;
  }
}

.heroButtons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: white;
}

.cardGrid {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card {
  height: 100%;
  display: 'flex';
  flex-direction: 'column';
}

.cardMedia {
  padding-top: 56.25%;
}

.build-little-text {
  font-size: 12px;
  opacity: 0.7;
  line-height: 5px;
}

.build-green-text {
  color: green;
  line-height: 5px;
}

.build-red-text {
  color: red;
  line-height: 5px;
}

.cardContent {
  flex-Grow: 1;

  .resources-list {
    min-height: 100px;
    max-height: 150px;
    overflow: auto;

    .increases-green {
      color: green;
      font-size: 10px;
    }

    .increases-red {
      color: red;
      font-size: 10px;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #d6d7e2;
      border-radius: 5px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #9a9ba8;
      border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(143, 143, 156);
      border-radius: 5px;
    }

  }
}
